fastapi
starlette
uvicorn[standard]
httpx
itsdangerous
requests
python-dotenv
openai
langchain
langchain-classic
langchain-openai
langchain-community
faiss-cpu
psycopg2-binary
sqlalchemy
pandas
tqdm
msal
pypdf
docx2txt
langchain-text-splitters
cohere
networkx
pyvis
